.Fuel-town-name{
    
    background-color:#576574; 
}

.Quince-Jelly-name{
    
    background-color:#f0932b; 
}

.Spray-name{
    
     background-color:#82ccdd;
}

.Fresh-Turquoise-name{

    background-color: #34e7e4; 
}

.Minty-Green-name{
    
    background-color: #0be881; 
}

.Red-Orange-name{
    
    background-color: #ff3f34;
}

.Chrome-Yellow-name{
    
    background-color: #ffa801;
}

.Silver-name{

    background-color: #bdc3c7;
}

.Wisteria-name{

    background-color: #8e44ad;
}

.Chi-Gong-name{

    background-color:#d63031 ;
}

.Pico-8-pink-name{

    background-color: #fd79a8;
}

.Electron-Blue-name{
    background-color:#0984e3 ;
}

.Dragon-Orchid-name{
    background-color: #2d3436;
}

.First-Date-name{
    background-color: #fab1a0;
}

.Orange-ville-name{
    background-color:#e17055 ;
}

.Magenta-Purple-name{
    background-color:#6F1E51 ;
}

.Turkish-Aqua-name{
    background-color: #006266;
}